.vs
*.user

/packages

/x86
/x64

/WIE_CRT/x86
/WIE_CRT/x64
/WIE_CRT/ExportMSVCRT/x86/*.obj
/WIE_CRT/ExportMSVCRT/x86/*.lib
/WIE_CRT/ExportMSVCRT/x64/*.obj
/WIE_CRT/ExportMSVCRT/x64/*.lib

/WIE_CRT_x86/x86

/Wintexports/x86
/Wintexports/x64